@import "../styles/animation.scss";

.chat-input-actions {
  position: fixed;
  bottom:11%; /* 调整垂直位置，可以根据需要更改 */
  transform: translateY(-50%);
  display: flex;
  flex-wrap: wrap;
  right: 30px;
  justify-content: flex-end; /* 将内容悬浮在最右侧 */
  /* justify-content: space-between; */ /* 将内容分散在两端 */
  background-color: transparent; /* 背景透明 */

  .chat-input-action {
    display: inline-flex;
    border-radius: 100px;
    height: 18px;
    width: 18px;
    justify-content: center;
    font-size: 12px;
    background-color: var(--white);
    color: var(--black);
    border: var(--border-in-light);
    padding: 8px 8px;
    animation: slide-in ease 0.3s;
    box-shadow: var(--card-shadow);
    transition: all ease 0.3s;
    margin-bottom: 10px;
    align-items: center;

    &:not(:last-child) {
      margin-right: 5px;
    }
  }
}

.prompt-toast {
  position: absolute;
  bottom: -50px;
  z-index: 999;
  display: flex;
  justify-content: center;
  width: calc(100% - 40px);

  .prompt-toast-inner {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    background-color: var(--white);
    color: var(--black);

    border: var(--border-in-light);
    box-shadow: var(--card-shadow);
    padding: 10px 20px;
    border-radius: 100px;

    animation: slide-in-from-top ease 0.3s;

    .prompt-toast-content {
      margin-left: 10px;
    }
  }
}

.section-title {
  font-size: 12px;
  font-weight: bold;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .section-title-action {
    display: flex;
    align-items: center;
  }
}

.context-prompt {
  .context-prompt-row {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 10px;

    .context-role {
      margin-right: 10px;
    }

    .context-content {
      flex: 1;
      max-width: 100%;
      text-align: left;
    }

    .context-delete-button {
      margin-left: 10px;
    }
  }

  .context-prompt-button {
    flex: 1;
  }
}

.memory-prompt {
  margin: 20px 0;

  .memory-prompt-content {
    background-color: var(--white);
    color: var(--black);
    border: var(--border-in-light);
    border-radius: 10px;
    padding: 10px;
    font-size: 12px;
    user-select: text;
  }
}
